.g-shadow {
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(1);
}

.g-shadow:hover {
  box-shadow: 0px 0px 3px 3px #4bc1b7;
  border: none;
  background-color: #4bc1b7;
  transform: scale(1.05);
}

.arrow-btn {
  display: inline-flex;
  align-items: center;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-icon {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.arrow-btn:hover .arrow-icon {
  transform: translateX(6px);
}

.arrow-btn:hover {
  background-color: #218838;
}

.r-shadow{
  transition: box-shadow 0.3s ease-in-out;
}

.r-shadow:hover {
  box-shadow: 0px 0px 3px 3px #4bc1b7;
  border: 1px;
}