
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.search-input {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}


.search-input:hover {
  box-shadow: 0px 0px 8px 1px rgba(11, 235, 205, 0.772);
}

.search-input:focus {
  box-shadow: 0px 0px 8px 1px rgba(11, 235, 205, 0.772);
}

.medicinecard {
  background: rgb(23, 135, 85);
  border-radius: 0px 16px 16px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 3px 11px 3px 10px;
  width: fit-content;
  top: 1.9rem;
  left: 0px;
  position: relative;
}

.custom-shadow{
  box-shadow: rgb(0 113 188 / 26%) 0px 4px 20px;
}

/* home.css */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #60a5fa; /* blue-400 */
  border-radius: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}






